# Konfiguracja bazy danych
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Konfiguracja OAuth2 Google
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
OAUTH2_REDIRECT_URI=http://localhost:5173/auth/google/callback

# Klucz JWT
JWT_SECRET=your_jwt_secret_key

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=password_to_email
